<h1>Change your life: <br>rent a spaceship</h1>
<br>
<h3>SpaceWagon brings great spaceships to adventurous people<h3>

<br>
<h3>Spaceships around the galaxy</h3>
<br>
  <% @spaceships.each do |s| %>
    <h4><%= s.name %> </h4>
    <ul>
      <li>Captain: <%= s.captain %> </li>
      <li>Location: <%= s.location %> </li>
      <li>Capacity: <%= s.capacity %> </li>
      <li>Price per day: <%= s.price_per_day %> </li>
    </ul>
    <br>
    <% end %>

<%= link_to "Dashboard", dashboard_path %>

