<div class="stars-background">
<div class="stars1 stars1-one"></div>
<div class="stars1 stars1-two"></div>
<div class="stars2 stars2-one"></div>
<div class="stars2 stars2-two"></div>
<div class="startext"><h1>Spacewagon</h1></div>
<div class="startext"><h3>Change your life: rent a spaceship.</h3></div>
<div class="starbutton"><a class="btn btn-primary" href="#" role="button">Rent a spaceship</a>
</div>
<div class="stars3"></div>
</div>

<h1>Change your life: <br>rent a spaceship</h1>
<br>
<h3>SpaceWagon brings great spaceships to adventurous people</h3>

<br>
<h3>Spaceships near you</h3>
<br>
  <% @spaceships.each do |s| %>
    <h4><%= link_to s.name, spaceship_path(s) %> </h4>
    <ul>
      <li>Owner: <%= s.user.first_name %> <%= s.user.last_name %></li>
      <li>Captain: <%= s.captain %> </li>
      <li>Location: <%= s.location %> </li>
      <li>Capacity: <%= s.capacity %> </li>
      <li>Price per day: <%= s.price_per_day %> </li>
    </ul>
    <%= cl_image_tag s.photo, height: 300, width: 400, crop: :fill %>
    <br>
    <% end %>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>

<%= link_to "Dashboard", dashboard_path %>

