<h1>The <%= @spaceship.name %></h1>
<p>Captain: <%= @spaceship.captain %></p>
<p>Speed: <%= @spaceship.speed %></p>
<p>Capacity: <%= @spaceship.capacity %></p>
<p>Location: <%= @spaceship.location %></p>
<p>Price Per Day: <%= @spaceship.price_per_day %></p>

<%= link_to 'HomePage', root_path %>
<%= link_to 'Request to rent', new_spaceship_booking_path(@spaceship) %>
<!-- This html page just shows the basic attributes of a specific spaceship -->


